.container {
    padding: 0px 50px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--darkColor);
    height: var(--nav-bar-height);
    width: 100%;


    .logo {
        caret-color: transparent;
        max-width: 44px;
        min-width: 44px;
        max-height: 44px;
        min-height: 44px;
    }

    .menu {
        flex-direction: row;
        gap: 24px;
        align-items: center;

        a {
            text-decoration: none;
            color: var(--text);
            transition: color 0.3s;

            span {
                color: var(--green);
                font-size: 16px;
            }

            &:hover {
                color: var(--green);
            }

            &:focus {
                color: var(--green);

            }
        }
    }
}