:root {

    //Couleurs 

    --darkColor: #1e272e; //Pour le background (bleu de base : 0A192F)
    --text: #8892b0;
    --light-text: #ccd6f6;
    --primaryColor: #ff9f43;
    // --primaryColor: #f8c291; melon
    // #e58e26 : orange plus flash
    // bleu joli : #60a3bc
    // vert citron : b8e994
    --btn-hover-bg: rgba(255, 159, 67, 0.3); //------

    //Tailles

    --nav-bar-height: 70px;
}